*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/******* Navbar **********/
.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    background-color: white;
    /* background-color: rgba(53, 10, 78, 0.255); */
}

.dropdown:hover > .dropdown-menu{
    display: block !important;
    
    /* background-color: rgba(53, 10, 78, 0.255); */
}

.dropdown-toggle:focus > .dropdown-menu{
    display: none !important;
}

.dropdown-item:hover{

/* background-color: rgba(66, 29, 134, 0.584) !important; */

}
.dropdown a, .nav-item a{
  color: black;
  font-weight: 500;
}
.dropdown a:hover{
    color: black !important;
    /* color: rgba(0, 0, 0, 0.682); */
}
.nav-item a:hover{
    color: white;
}

/******* Navbar **********/


/* ========= slider ========*/
.hero_slider .carousel-caption {
    text-align: left;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-75%, -35%);
    max-width: 1320px;
}

.carousel-item{
    height: 680px;
}
.carousel-item img{
    height:100%;
}

/* ========= slider ========*/

/* ========= slider ========*/

.about-section .carousel-inner {
    border-radius: 0 0 5rem;
}

.about-section .main-btn span,
.style-section .main-btn span {
    color: ;
}

.about-section .carousel-indicators {
    margin-bottom: -2.5rem;
}

.about-section .carousel-indicators [data-bs-target] {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color:#fd8eaf;;
}

.hero {
    margin-top: 2rem;
    border-radius: 0 0 6rem 0;

}

.main-btn2 {
    border: 2px solid #fd8eaf;
    color: var(--black-color);
    padding: 5px 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    background: transparent;
    transition: all 0.3s ease-in;
}

.main-btn2:hover {
    color: white;
    background: #fd8eaf;
}
/* ========= slider ========*/


/* ========= slider ========*/


.rectangle-shape,
.circle-shape {
    content: '';
    border: 0.25rem solid;
    border-bottom-color: #ef6d9f;
    border-right-color: #ef6d9f;
    border-top-color: #ee8d60;
    border-left-color: #ee8d6d;
    background-image: -moz-linear-gradient(top, #ee8d6d 0%, #ef6d9f 100%);
    background-image: -webkit-linear-gredient(top, #ee8d6d 0%, #ef6d9f 100%);
    background-image: linear-gradient(to bottom, #ee8d6d 0%, #ef6d9f 100%);
    background-size: 100% 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 40%;
    margin: auto;
}

.rectangle-shape.small,
.circle-shape.small {
    border-width: 0.1817rem;
    width: 1.25rem;
    height: 1.25rem;
    animation: animateframesone 35s alternate infinite linear;
}

.rectangle-shape.large,
.circle-shape.large {
    width: 2.5rem;
    height: 2.5rem;
    animation: animateframethree 35s alternate infinite linear;
}

.circle-shape.large {
    left: 0;
    right: 0;
    bottom: 15%;
    opacity: .5;
}

.circle-shape.small {
    left: 0;
    bottom: 10%;
}

.rectangle-shape {
    border-radius: 0.1878rem;
}

.circle-shape {
    border-radius: 50%;
}

@keyframes animateframesone {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    20% {
        transform: translate(40.625rem, -0.625rem) rotate(36deg);
    }

    40% {
        transform: translate(8.8142rem, 4.5rem) rotate(72deg);
    }

    60% {
        transform: translate(5.1875rem, 7.625rem) rotate(108deg);
    }

    80% {
        transform: translate(-2.5rem, 4.5rem) rotate(144deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes animateframethree {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1.2);
    }

    20% {
        transform: translate(-4.25rem, -6.25rem) rotate(70deg) scale(0.5);
    }

    40% {
        transform: translate(7.1875rem, 3.4375) rotate(120deg) scale(1);
    }

    60% {
        transform: translate(2.1875rem, 8.75rem) rotate(155deg) scale(1.2);
    }

    80% {
        transform: translate(-2.1875rem, 5.625rem) rotate(180deg) scale(0.5);
    }

    100% {
        transform: translate(0,0) rotate((0deg) scale(1));
    }
}
/* ========= slider ========*/
